<style>
    body{
        text-align: center;
    }
    .mar {
        margin: 0 15rem;
    }
</style>

<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted mar">&copy; ChainReaction</span>
        <span class="text-muted mar">Credit : Aman Arya</span>
    </div>
</footer>
